@model ProjetoLoja.Models.Usuario;

@{
    ViewData["Title"] = "Cadastro";
}

<link href="~/css/cadastro.css" rel="stylesheet" />

<form asp-action="Cadastro" method="post" class="cad-form">
    <h1 class="cad-title">Cadastrar Usuário</h1>
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required class="form-control" placeholder="Insira seu email aqui" autofocus />
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" name="senha" required class="form-control" placeholder="Insira sua senha aqui"/>
    </div>
    <button class="btn-cad">Cadastrar</button>
</form>